{% extends "_layout.html" %}

{% from "_macros.html" import link %}

{% block header %}
  {% if title %}
    {{ header(title) }}
  {% else %}
    {{ header("An error occurred") }}
  {% endif %}
{% endblock %}

{% block content %}
  <p class="text-center">
    {# errors are always static and do not have any user-controlled content #}
    {{ error | safe }}
  </p>
  {% if try_again %}
    <div class="flex justify-center mt-5">
      {{ link("Try again", "/") }}
    </div>
  {% endif %}
{% endblock %}
