<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mocked Integrations</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1>Mocked Integrations</h1>

    <br/><br/>

    <form action="/add" method="post" class="row row-cols-lg-auto g-3 align-items-center">
      <div class="col-12">
        <label for="id">User ID</label>
      </div>
      <div class="col-12">
        <input type="text" class="form-control" id="id" name="id" placeholder="google-oauth|123456">
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>

    <br/><br/>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">User ID</th>
          <th scope="col">Can Link?</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user, status in state.items() %}
          <tr>
            <th scope="row">{{ user }}</th>
            <td>
              {% if status %}
                Yes
              {% else %}
                No
              {% endif %}
            </td>
            <td>
              <a class="btn btn-sm btn-primary" href="/{{ user }}/toggle">Toggle</a>
              <a class="btn btn-sm btn-danger" href="/{{ user }}/delete">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
